{{define "peers"}}
<!-- [html-validate-disable no-dup-id]-->
<!-- [html-validate-disable prefer-tbody]-->
<div id="error" class="w3-red" hx-get="/peers/" hx-trigger="every 1m" hx-target="#content" hx-target-error="#error">
</div>
<h1>Peers</h1>
<div class="grid5">
    <div class="w3-theme-l3">Name</div>
    <div class="w3-theme-l3">Endpoint</div>
    <div class="w3-theme-l3">Version</div>
    <div class="w3-theme-l3">Status</div>
    <div class="w3-theme-l3">Delete</div>
    {{range .}}
    <div><button class="w3-button w3-theme" type="button" hx-get="peers/{{.WGPublicKey}}" hx-target="#content"
            hx-target-error="#error">{{.Name}}</button></div>
    <div>{{.Endpoint}}</div>
    <div>{{.Version}}</div>
    {{if .NatsConnected}}
    <div><i class="fas fa-cogs w3-green w3-large"></i></div>
    {{- else}}
    <div><i class="fas fa-cogs w3-red w3-large"></i></div>
    {{- end}}
    <div><button class="w3-button w3-theme" type="button" hx-delete="peers/{{.WGPublicKey}}" hx-target="#content"
            hx-target-error="#error" hx-confirm="Delete Peer?">Delete</button></div>
    {{end}}
</div>
{{end}}

{{define "peerDetails"}}
<div id="error" class="w3-red" hx-get="/peers/{{.WGPublicKey}}" hx-trigger="every 1m" hx-target="#content"
    hx-target-error="#error"></div>
<h1>Peer: {{.Name}}</h1>
<div class="grid2">
    <div class="w3-theme-l1">Wireguard Public Key</div>
    <div>{{.WGPublicKey}}</div>
    <div class="w3-theme-l1">Agent Version</div>
    <div>{{.Version}}</div>
    <div class="w3-theme-l1">Operating System</div>
    <div>{{.OS}}</div>
    <div class="w3-theme-l1">Endpoint</div>
    <div>{{.Endpoint}}</div>
    <div class="w3-theme-l1">Connected to Server</div>
    <div>{{.NatsConnected}}</div>
    <div class="w3-theme-l1">Updated</div>
    <div>{{.Updated}}</div>
</div>
<button class="w3-button w3-theme" type="button" hx-get="/peers/" hx-target="#content"
    hx-target-error="#error">Close</button>
{{end}}

{{define "displayNetworkPeer"}}
<div id="error" class="w3-red"></div>
<h1>Network Peer: {{.HostName}}</h1>
<div class="grid2">
    <div class="w3-theme-l1">Wireguard Public Key</div>
    <div>{{.WGPublicKey}}</div>
    <div class="w3-theme-l1">Public Listen Port</div>
    <div>{{.PublicListenPort}}</div>
    <div class="w3-theme-l1">Private Listen Port</div>
    <div>{{.ListenPort}}</div>
    <div class="w3-theme-l1">Endpoint</div>
    <div>{{.Endpoint}}</div>
    <div class="w3-theme-l1">Connected to Server</div>
    <div>{{.NatsConnected}}</div>
    <div class="w3-theme-l1">Connectivity (%peers)</div>
    <div>{{.Connectivity}}%</div>
    <div class="w3-theme-l1">Is Relay</div>
    <div>{{.IsRelay}}</div>
    <div class="w3-theme-l1">Is Relayed</div>
    <div>{{.IsRelayed}}</div>
    <div class="w3-theme-l1">Is Subnet Router</div>
    <div>{{.IsSubNetRouter}}</div>
    {{if eq .IsSubNetRouter true}}
    <div class="w3-theme-l1">Subnet</div>
    <div>{{.SubNet}}</div>
    {{end}}
    {{if eq .IsSubNetRouter}}
</div>
<button class="w3-button w3-theme" type="button" hx-get="/networks/" hx-target="#content"
    hx-target-error="#error">Close</button>
{{end}}
<button class="w3-button w3-theme" type="button" hx-get="/networks/" hx-target="#content"
    hx-target-error="#error">Close</button>
{{end}}