{{define "content"}}
{{if (eq .NeedsLogin true)}}
{{template "login" .}}
{{ else if (eq .Page "addNetwork")}}
{{template "addNetwork"}}
{{ else if (eq .Page "networks")}}
{{template "networks" . }}
{{ else if (eq .Page "peers")}}
{{template "peers" . }}
{{ else if (eq .Page "keys")}}
{{template "keys" . }}
{{ else if (eq .Page "users")}}
{{template "users" . }}
{{ else if (eq .Page "settings")}}
{{template "settings" . }}
{{ else }}
<div id="content">
    <div class="w3-container w3-center w3-theme-dark w3-padding">
        <div id="error" class="w3-red"></div>
        <br>
    </div>
    {{template "sidebar" .Networks}}
</div>
{{end}}
{{end}}