{{define "keys"}}
<!-- [html-validate-disable no-dup-id]-->
<div id="content">
    <div class="w3-container w3-center w3-theme-dark w3-padding">
        <div id="error" class="w3-red"></div>
        <div class="w3-row">
            <div class="w3-third"><br></div>
            <div class="w3-third">
                <h1>Plexus Keys</h1>
                <table class="w3-table w3-bordered w3-theme-l3">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Uses Remaining</td>
                            <td>Expires</td>
                            <td>Networks</td>
                            <td></td>
                        </tr>
                    </thead>
                    {{range .}}
                    <tbody>
                        <tr>
                            <td><button class="w3-button w3-theme" type="button" 
                                onclick='navigator.clipboard.writeText("{{.Value}}").then(() =>{
                                alert("copied to clipboard");
                                },()=>{
                                    alert("failed to copy");
                                });'>{{.Name}}</button></td>
                            <td>{{.Usage}}</td>
                            <td>{{.DispExp}}</td>
                            <td>{{.Networks}}</td>
                            <td><button class="w3-button w3-theme" type="button" hx-delete="/keys/{{.Name}}" hx-target="#content"
                                    hx-target-error="#error" hx-confirm="Delete Key?">
                                    Delete</button></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
                <h3>
                    <button class="w3-button" type="button" hx-get="/keys/add" hx-target="#content"
                        hx-target-errors="#error">
                        Create New Key</button>
                </h3>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "addKey"}}
<div id="content">
    <div class="w3-container w3-center w3-theme-dark">
        <div id="error" class="w3-red"></div>
        <h1>Create Key</h1>
        <form hx-post="/keys/add" hx-target="#content" hx-target-errors="#error">
            <label for="name">Key Name</label>
            <input type="text" placeholder="key name (lowercase, chars and -)" name="name" required><br>
            <label for="usage">Uses</label>
            <input type="number" value="1" name="usage"><br>
            <label for="expires">Expires</label>
            <input type="date" name="expires" value="{{.DefaultDate}}">
            <h2>Networks</h2>
            {{range .Networks}}
            <input class="w3-check" type="checkbox" name="networks" value="{{.}}">
            <label>{{.}}</label>
            {{end}}
            <p><button class="w3-button" type="button" hx-get="/keys/" hx-target="#content">Cancel</button>
                <button class="w3-button w3-theme-dark" type="reset">Reset</button>
                <button class="w3-button w3-theme-dark" type="submit">Create</button>
            </p>
        </form>
    </div>
</div>
{{end}}