{{define "keys"}}
<!-- [html-validate-disable no-dup-id]-->
<!-- [html-validate-disable no-inline-style]-->
<div id="error" class="w3-red" hx-get="/keys/" hx-trigger="every 1m" 
    hx-target="#content" hx-target-error="#error"></div>
<div class="w3-bar w3-theme-d5">
    <button class="w3-button" type="button" hx-get="/keys/add" hx-target="#content" hx-target-errors="#error">
        <i class="fa fa-key"></i>
        Create New Key</button>
</div>
<h1>Plexus Keys</h1>
<div class="grid4">
    <div class="w3-theme-l3">Name</div>
    <div class="w3-theme-l3">Uses Remaining</div>
    <div class="w3-theme-l3">Expires</div>
    <div class="w3-theme-l3"></div>
    {{range .}}
    <div><button class="w3-button w3-theme" type="button" onclick='navigator.clipboard.writeText("{{.Value}}").then(() =>{
        alert("copied to clipboard");
            },()=>{
        alert("failed to copy");
               });'>{{.Name}}</button>
    </div>
    <div>{{.Usage}}</div>
    <div>{{.DispExp}}</div>
    <div><button class="w3-button w3-theme" type="button" hx-delete="/keys/{{.Name}}" hx-target="#content"
            hx-target-error="#error" hx-confirm="Delete Key?">
            Delete</button></div>
    {{end}}
</div>
{{end}}

{{define "addKey"}}
<div id="error" class="w3-red"></div>
<h1>Create Key</h1>
<form class="w3-container w3-card4" hx-post="/keys/add" hx-target="#content" hx-target-error="#error">
    <label>Key Name</label>
    <input class="w3-input" type="text" placeholder="key name (lowercase, chars and -)" name="name" required style="width:50%"><br>
    <label>Uses</label>
    <input class="w3-input" type="number" value="1" name="usage" style="width:50%"><br>
    <label>Expires</label>
    <input class="w3-input" type="date" name="expires" value="{{.DefaultDate}}" style="width:50%">
    <p><button class="w3-button" type="button" hx-get="/keys/" hx-target="#content">Cancel</button>
        <button class="w3-button w3-theme-dark" type="reset">Reset</button>
        <button class="w3-button w3-theme-dark" type="submit">Create</button>
    </p>
</form>
{{end}}