{{define "networks"}}
<!-- [html-validate-disable no-dup-id]-->
    <div class="w3-container w3-center w3-theme-dark w3-padding">
        <div id="error" class="w3-red"></div>
        <h1>Networks</h1>
        {{range .}}
        <h2><button class="w3-button" type="button" hx-get="networks/{{.Name}}" hx-target="#content"
                hx-target-error="#error">
                {{.Name}}</button>{{.AddressString}}
            <button class="w3-button" type="button" hx-delete="networks/{{.Name}}" hx-target="#content"
                hx-target-error="#error" hx-confirm="Delete Network?">
                Delete</button>
        </h2>
        {{end}}
        <h3>
            <button class="w3-button" type="button" hx-get="networks/add" hx-target="#content" hx-target-error="#error">
                Create New Network</button>
        </h3>
    </div>
{{end}}

{{ define "addNetwork"}}
    <div class="w3-container w3-center w3-theme-dark">
        <div id="error"></div>
        <h1>Add Network</h1>
        <form hx-post="/networks/add" hx-target="#content" hx-target-error="#error">
            <label for="name">Network Name</label>
            <input type="text" placeholder="network name" name="name" required><br>
            <label for="addressstring">Network CIDR</label>
            <input type="text" placeholder="10.10.10.0/24" name="addressstring" required><br>
            <p><button class="w3-button w3-theme-dark w3-padding large" type="button" hx-get="/networks"
                    hx-target="#content">Cancel</button>
                <button class="w3-button w3-theme-dark" type="reset">Reset</button>
                <button class="W3-button w3-theme-dark" type="submit">Add</button>
            </p>
        </form>
    </div>
{{end}}

{{define "networkDetails"}}
    <div class="w3-container w3-center w3-theme-dark w3-padding">
        <div id="error" class="w3-red"></div>
        <h1>Network: {{.Name}}</h1>
        {{$network:=.Name}}
        <h2>Peers</h2>
        <div class="w3-third"><br></div>
        <div class="w3-third">
            <table class="w3-table w3-bordered w3-theme-l3">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Address</td>
                        <td>Status</td>
                        <td>Connected</td>
                        <td>Remove</td>
                    </tr>
                </thead>
                <tbody>
                    {{range .Peers}}
                    <tr>
                        <td><button class="w3-button w3-theme" type="button" hx-get="/peers/{{.WGPublicKey}}"
                            hx-target="#content" hx-target-error="#error">{{.HostName}}</button></td>
                        <td>{{.Address.IP}}</td>
                        {{if .NatsConnected}}
                            <td><img src="images/connect-green.svg" alt="green" height="36"></td>
                        {{- else}}
                            <td><img src="images/connect-red.svg" alt="red" height="36"></td>
                        {{- end}}
                        {{if eq .Connectivity 1.0 }}
                            <td><img src="images/network-green.svg" alt="green" height="36">{{.Connectivity}}</td>
                        {{else if ge .Connectivity .7}}
                            <td><img src="images/network-yellow.svg" alt="yellow" height="36">{{.Connectivity}}</td>
                        {{else if ge .Connectivity .5}}
                            <td><img src="images/network-orange.svg" alt="orange" height="36">{{.Connectivity}}</td>
                        {{else}}
                            <td><img src="images/network-red.svg" alt="red" height="36">{{.Connectivity}}</td>
                        {{end}}
                        <td><button class="w3-button w3-theme" type="button" hx-delete="networks/peers/{{$network}}/{{.WGPublicKey}}"
                                hx-target="#content" hx-target-error="#error"
                                hx-confirm="Remove Peer from Network?">Remove</button></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
{{end}}