{{define "networks"}}
<!-- allow button inside <a> tag-->
<!-- [html-validate-disable element-permitted-content]-->
<!-- [html-validate-disable no-dup-id]-->
<!-- [html-validate-disable no-inline-style]-->
<!-- Network Nav Bar-->
<div id="error" class="w3-red"></div>
<div class="w3-bar w3-theme-d5">
    <button class="w3-button" type="button" hx-get="networks/add" hx-target="#content" hx-target-error="#error">
        <i class="fa fa-network-wired"></i>
        Create New Network</button>
</div>
<h1>Networks</h1>
<div class="grid4">
    <div class="w3-theme-l3">Name</div>
    <div class="w3-theme-l3">Peers</div>
    <div class="w3-theme-l3">CIDR</div>
    <div class="w3-theme-l3">Delete</div>
    {{range .Data}}
    <div>
        <button class="w3-button" type="button" hx-get="networks/{{.Name}}" hx-target="#content"
            hx-target-error="#error">
            <i class="fas fa-desktop"></i>
            {{.Name}}</button>
    </div>
    <div>{{len .Peers}}</div>
    <div class="w3-margin-top">{{.AddressString}}</div>
    <div>
        <button class="w3-button" type="button" hx-delete="networks/{{.Name}}" hx-target="#content"
            hx-target-error="#error" hx-confirm="Delete Network?">
            <i class="fa fa-trash-alt"></i>
            Delete</button>
    </div>
    {{end}}
</div>
{{end}}

{{ define "addNetwork"}}
<div id="error"></div>
<h1>Add Network</h1>
<form class="w3-container w3-card4" hx-post="/networks/add" hx-target="#content" hx-target-error="#error">
    <label>Network Name</label>
    <input class="w3-input" type="text" value="plexus" name="name" required style="width:50%"><br>
    <label>Network CIDR</label>
    <input class="w3-input" type="text" value="10.10.10.0/24" name="addressstring" required style="width:50%"><br>
    <p>
        <button class="w3-button w3-theme-dark w3-padding large" type="button" hx-get="/networks" hx-target="#content">
            Cancel</button>
        <button class="w3-button w3-theme-dark" type="reset">Reset</button>
        <button class="W3-button w3-theme-dark" type="submit">Add</button>
    </p>
</form>
{{end}}

{{define "networkDetails"}}
<div id="error" class="w3-red"></div>
<div class="w3-container w3-theme-dark w3-padding">
    <!-- Network Details Nav Bar-->
    <div class="w3-bar w3-theme-d5 w3-center">
        <button type="button" class="w3-bar-item w3-button"
            onclick="document.getElementById('addPeerToNetwork').style.display='block'">
            <i class="fa fa-desktop"></i>
            Add Peer</button>
        <button type="button" class="w3-bar-item w3-button"
            onclick="document.getElementById('addPeerToNetwork').style.display='block'">
            <i class="fa fa-network-wired"></i>
            Create SubNet Gateway</button>
    </div>
    <!-- Details -->
    <h1>Network: {{.Name}}</h1>
    {{$network:=.Name}}
    <h2>Peers</h2>
    <div class="grid7">
        <!-- Headings -->
        <div class="w3-theme-l3 ">Name</div>
        <div class="w3-theme-l3 ">Status</div>
        <div class="w3-theme-l3 ">Traffic</div>
        <div class="w3-theme-l3 ">Address</div>
        <div class="w3-theme-l3 ">Remove</div>
        <div class="w3-theme-l3 ">Relay</div>
        <div class="w3-theme-l3 ">Gateway</div>
        <!-- details -->
        {{range .Peers}}
        <div>
            <button class="w3-button w3-theme" type="button" hx-get="/networks/peers/{{$network}}/{{.WGPublicKey}}" hx-target="#content"
                hx-target-error="#error">
                <i class="fa fa-desktop"></i>
                {{.HostName}}</button><br>
        </div>
        <div>
            {{if .NatsConnected}}
            <i class="fas fa-cogs w3-green w3-large w3-margin-top"></i>
            {{- else}}
            <i class="fas fa-cogs w3-red w3-large w3-margin-top"></i>
            {{- end}}
        </div>
        <div>
            {{if eq .Connectivity 1.0 }}
            <i class="fas fa-traffic-light w3-green w3-large w3-margin-top"></i>{{.Connectivity}}
            {{else if ge .Connectivity .7}}
            <i class="fas fa-traffic-light w3-yellow w3-large w3-margin-top"></i>{{.Connectivity}}
            {{else if ge .Connectivity .5}}
            <i class="fas fa-traffic-light w3-orange w3-large w3-margin-top"></i>{{.Connectivity}}
            {{else}}
            <i class="fas fa-traffic-light w3-red w3-large w3-margin-top"></i>{{.Connectivity}}
            {{end}}
        </div>
        <div class="w3-margin-top">{{.Address.IP}}</div>
        <div>
            <button class="w3-button w3-theme" type="button" hx-delete="networks/peers/{{$network}}/{{.WGPublicKey}}"
                hx-target="#content" hx-target-error="#error" hx-confirm="Remove Peer from Network?">
                <i class="fa fa-trash-alt"></i>
                Remove Peer</button>
        </div>
        {{if eq .IsRelay true}}
            <div>
            <button class="w3-button w3-theme" type="button" hx-delete="networks/relay/{{$network}}/{{.WGPublicKey}}"
                hx-target="#content" hx-target-error="#error" hx-confirm="Remove Relay from Network?">
                <i class="fa fa-trash-alt"></i>
                Delete Relay</button>
            </div>
        {{else if eq .IsRelayed true}}
            <div>Relayed</div>
        {{else}}
        <div>
            <button type="button" class="w3-button"
                hx-get="networks/relay/{{$network}}/{{.WGPublicKey}}"
                hx-target="#content" hx-target-error="#error">
                <i class="fa fa-share"></i>
                Create Relay</button>
        </div>
        {{end}}
        <div class="w3-margin-top">TBD</div>
        {{end}}
    </div>
</div>

{{template "addPeerToNetwork" .}}
{{end}}

{{define "addPeerToNetwork"}}
<!-- [html-validate-disable no-inline-style]-->
<div id="addPeerToNetwork" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-padding" style="width:50%">
        <div class="w3-container w3-center w3-theme-dark">
            {{$network:=.Name}}
            <h3>Add Peer to Network {{.Name}}</h3>
            <div class="grid3">
                <div class="w3-theme-l3">Name</div>
                <div class="w3-theme-l3">Port</div>
                <div class="w3-theme-l3">Endpoint</div>
                {{range .AvailablePeers}}
                <div>
                    <button class="w3-button w3-theme" type="button"
                        hx-post="/networks/addPeer/{{$network}}/{{.WGPublicKey}}" hx-target="#content"
                        hx-target-error="#error">{{.Name}}</button>
                </div>
                <div>{{.PublicListenPort}}</div>
                <div>{{.Endpoint}}</div>
                {{end}}
            </div>
            <br><br>
            <button type="submit" class="w3-button w3-block w3-padding"
                onclick="document.getElementById('addPeerToNetwork').style.display='none'">Close</button>
        </div>
    </div>
</div>
{{end}}