{{define "peers"}}
<!-- [html-validate-disable no-dup-id]-->
<!-- [html-validate-disable prefer-tbody]-->
<div id="error" class="w3-red"></div>
<h1>Peers</h1>
<div class="grid6">
    <div class="w3-theme-l3">Name</div>
    <div class="w3-theme-l3">Endpoint</div>
    <div class="w3-theme-l3">Version</div>
    <div class="w3-theme-l3">Status</div>
    <div class="w3-theme-l3">Delete</div>
    {{range .}}
    <div><button class="w3-button w3-theme" type="button" hx-get="peers/{{.WGPublicKey}}" hx-target="#content"
            hx-target-error="#error">{{.Name}}</button></div>
    <div>{{.Endpoint}}</div>
    <div>{{.Version}}</div>
    {{if .NatsConnected}}
    <div><i class="fas fa-cogs w3-green w3-large"></i></div>
    {{- else}}
    <div><i class="fas fa-cogs w3-red w3-large"></i></div>
    {{- end}}
    <div><button class="w3-button w3-theme" type="button" hx-delete="peers/{{.WGPublicKey}}" hx-target="#content"
            hx-target-error="#error" hx-confirm="Delete Peer?">Delete</button></div>
    {{end}}
</div>
{{end}}

{{define "peerDetails"}}
<div id="error" class="w3-red"></div>
<h1>Peer: {{.Name}}</h1>
<div class="grid2 w3-theme-l3">
    <div>Wireguard Public Key</div>
    <div>{{.WGPublicKey}}</div>
    <div>Agent Version</div>
    <div>{{.Version}}</div>
    <div>Operating System</div>
    <div>{{.OS}}</div>
    <div>Listening Port</div>
    <div>{{.ListenPort}}</div>
    <div>Public Listen Port</div>
    <div>{{.PublicListenPort}}</div>
    <div>Endpoint</div>
    <div>{{.Endpoint}}</div>
    <div>Nats Public Key</div>
    <div>{{.PubNkey}}</div>
    <div>Updated</div>
    <div>{{.Updated}}</div>
</div>
<button class="w3-button w3-theme" type="button" hx-get="/peers/" hx-target="#content"
    hx-target-error="#error">Close</button>
{{end}}

{{define "displayNetworkPeer"}}
<div id="error" class="w3-red"></div>
<h1>Network Peer: {{.HostName}}</h1>
<div class="grid3 w3-theme-l3">
    <div>Wireguard Public Key</div>
    <div>{{.WGPublicKey}}</div>
    <div></div>
    <div>Public Listen Port</div>
    <div>{{.PublicListenPort}}</div>
    <div></div>
    <div>Endpoint</div>
    <div>{{.Endpoint}}</div>
    <div></div>
    <div>Connected to Server</div>
    <div>{{.NatsConnected}}</div>
    <div></div>
    <div>Connectivity (%peers)</div>
    <div>{{.Connectivity}}0%</div>
    <div></div>
    <div>Is Relay</div>
    <div>{{.IsRelay}}</div>
    {{if eq .IsRelay true}}
        <div>remove</div>
    {{ else }}
        <div></div>
    {{end}}
    <div>Is Relayed</div>
    <div>{{.IsRelayed}}</div>
    <div></div>
    <div>Relayed Peers</div>
    <div>{{.RelayedPeers}}</div>
    <div></div>
</div>
<button class="w3-button w3-theme" type="button" hx-get="/networks/" hx-target="#content"
    hx-target-error="#error">Close</button>



{{end}}