[Unit]
Description=Plexus Server
After=network-online.target

[Service]
User=plexus
Type=simple
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/local/bin/plexus-server
WorkingDirectory=/var/lib/plexus
Restart=on-success

[Install]
WantedBy=multi-user.target
