[Unit]
Description=Plexus Agent
After=network-online.target

[Service]
User=plexus
Type=simple
ExecStart=/usr/local/bin/plexus-agent run
Restart=on-success

[Install]
WantedBy=multi-user.target
