[Unit]
Description=Plexus Agent
After=network-online.target

[Service]
User=plexus
Type=simple
AmbientCapabilities=CAP_NET_ADMIN
ExecStart=/usr/local/bin/plexus-agent run
WorkingDirectory=/var/lib/plexus
Restart=on-success

[Install]
WantedBy=multi-user.target
